In [6]:
import pandas as pd
import numpy as np

# Question 1
What's the version of NumPy that you installed?

You can get the version information using the __version__ field:

In [2]:
np.__version__

'1.21.6'

# Getting the data

For this homework, we'll use the Car price dataset.

In [5]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2022-09-12 20:25:56--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1.41M  --.-KB/s    in 0.01s

2022-09-12 20:25:56 (127 MB/s) - ‘data.csv’ saved [1475504/1475504]

# Question 2
How many records are in the dataset?

In [8]:
df = pd.read_csv("data.csv")

In [9]:
df.shape

(11914, 16)

# Question 3

Who are the most frequent car manufacturers (top-3) according to the dataset?

In [10]:
df.Make.value_counts().nlargest(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

# Question 4

What's the number of unique Audi car models in the dataset?

In [11]:
df[df.Make == 'Audi'].Model.nunique()

34

# Question 5

How many columns in the dataset have missing values?

In [12]:
na_per_column = df.isna().sum()
len(na_per_column[na_per_column > 0])

5

# Question 6

1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the `fillna` method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4. Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

In [13]:
# Find the median value of "Engine Cylinders" column in the dataset.
df['Engine Cylinders'].median()

6.0

In [17]:
# Next, calculate the most frequent value of the same "Engine Cylinders".
most_frequent = df['Engine Cylinders'].mode()[0]
most_frequent

4.0

In [18]:
# Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
df['Engine Cylinders'].fillna(value=most_frequent, inplace=True)

In [19]:
# Now, calculate the median value of "Engine Cylinders" once again.
df['Engine Cylinders'].median()

6.0

# Question 7

1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using `drop_duplicates` method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it `X`.
5. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
6. Compute the inverse of `XTX`.
7. Create an array `y` with values `[1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]`.
8. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
9. What's the value of the first element of `w`?

In [20]:
# 7.1) Select all the "Lotus" cars from the dataset.
lotus = df[df.Make == 'Lotus']
# Select only columns "Engine HP", "Engine Cylinders".
lotus = lotus[['Engine HP', 'Engine Cylinders']]
# Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
lotus = lotus.drop_duplicates()
# Get the underlying NumPy array. Let's call it X.
X = lotus.to_numpy()
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T.
# Let's call the result XTX.
XTX = np.matmul(X.T, X)
# Invert XTX.
XTX_inv = np.linalg.inv(XTX)
# Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = XTX_inv.dot(X.T).dot(y)
# What's the value of the first element of w?
print(w[0])  # 4.5949

4.594944810094551